@{
    ViewBag.Title = "Cannot find page";
}

<div class="error center">
    <div class="row">
        <div class="col-sm-12">
            <h1>Cannot find the page you are looking for.</h1>
        </div>
    </div>
</div>