@{
    ViewBag.Title = "Resume";
}

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-8">
                <div class="section">
                    <span class="header">Work Experience</span>

                    <div class="subsection">
                        <span class="subheader">People Corporation - Application Developer</span>
                        <span class="location">Winnipeg, MB</span>
                        <span class="date">June 2014 - Present</span>
                        <ul>
                            <li>Develop a new application that consolidates information of new potential clients, existing clients’, their group benefits information, and generates various reports.</li>
                            <li>Improve ease of group benefit enrolment by creating a customizable wizard and Excel parser that could be deployed on a per-client basis.</li>
                            <li>Improve internal communication by developing a web portal application with customizable content, permission controls, and Active Directory integration.</li>
                            <li>Maintain all active applications.</li>
                            <li>Update and maintain corporate and partner websites.</li>
                            <li>Provide HelpDesk support for all development related issues.</li>
                            <li>Provide in-person and WebEx user training.</li>
                            <li>Wrote various project user documentations to supplement user training.</li>
                        </ul>
                    </div>

                    <div class="subsection">
                        <span class="subheader">iQmetrix - Web Developer</span>
                        <span class="location">Winnipeg, MB</span>
                        <span class="date">January 2013 - April 2013 (Co-op Work Term III)</span>
                        <ul>
                            <li>Maintained the intranet website for clients. Tasks included fixing reported bugs, implementing new features, and resolving support requests.</li>
                            <li>Perform code reviews with peers.</li>
                            <li>Attended daily morning scrums and bi-weekly iteration planning.</li>
                        </ul>
                    </div>

                    <div class="subsection">
                        <span class="subheader">Agriculture and Agri-Food Canada – Small Systems Analyst</span>
                        <span class="location">Winnipeg, MB</span>
                        <span class="date">May 2012 – August 2012 (Co-op Work Term II)</span>
                        <ul>
                            <li>Implemented a PDF generator function within Excel.</li>
                            <li>Developed various internal single-page web applications.</li>
                            <li>Attended requirement meetings with other departments.</li>
                        </ul>
                    </div>

                    <div class="subsection">
                        <span class="subheader">Geomax Mobile Corporation – Wireless Application Developer</span>
                        <span class="location">Winnipeg, MB</span>
                        <span class="date">September 2011 – December 2011 (Co-op Work Term I)</span>
                        <ul>
                            <li>Updated their web application that kept track of invoice documents throughout their processing phase.</li>
                            <li>Attended customer meetings for software reviews and requests for additional features for the web application.</li>
                            <li>Updated the Geomax Mobile website.</li>
                            <li>Performed software releases.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="section">
                    <span class="header">Skills</span>

                    <div class="subsection">
                        <span class="subheader">Languages</span>
                        <ul>
                            <li>C#</li>
                            <li>CSS</li>
                            <li>HTML</li>
                            <li>JavaScript</li>
                            <li>SQL</li>
                            <li>VBScript</li>
                            <li>XML</li>
                        </ul>
                    </div>

                    <div class="subsection">
                        <span class="subheader">Frameworks & Libraries</span>
                        <ul>
                            <li>AngularJS</li>
                            <li>ASP.NET MVC</li>
                            <li>Entity Framework</li>
                            <li>jQuery</li>
                            <li>.NET Framework 4.5</li>
                            <li>NodeJS</li>
                            <li>Sass</li>
                        </ul>
                    </div>

                    <div class="subsection">
                        <span class="subheader">Software</span>
                        <ul>
                            <li>Git</li>
                            <li>JIRA</li>
                            <li>Microsoft Internet Information Services (IIS)</li>
                            <li>Microsoft SQL Server</li>
                            <li>Microsoft Visual Studio</li>
                        </ul>
                    </div>

                    <div class="subsection">
                        <span class="subheader">Methodologies</span>
                        <ul>
                            <li>Agile: Scrum & Kanban</li>
                            <li>Object-oriented Programming</li>
                            <li>Responsive Web Design</li>
                            <li>Waterfall</li>
                        </ul>
                    </div>
                </div>

                <div class="section">
                    <span class="header">Education</span>
                    <div class="subsection">
                        <span class="subheader">University of Manitoba</span>
                        <span class="location">BSc in Computer Science Co-op Option</span>
                        <span class="date">2007 - 2013</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>