// Need to specify the file extentions for SASS watch via Koala to work
@import "bootstrap.scss";
@import "font-awesome.scss";
@import "variables.scss"; 

html, body
{
    background-color: #f3f0df;
	height: 100%;
    font-weight: 600;
}

body
{
	background-color: transparent;
}

h1, h2, h3, h4, h5, h6
{
	color: $blue;
	margin: 0;
}

h1
{
	font-size: 36px;
	font-weight: bold;
	margin-top: 45px;
	margin-bottom: 15px;

	span
	{
		color: $blueLight;
		font-weight: normal;
	}
}

h2
{
	color: $blueLight;
}

h2,
h3
{
	margin-bottom: 15px;
}

img
{
	display: block;
	height: 100%;
}

a
{
	color: black;

	&:hover
	{
		color: $blueLight;
	}

	&:focus
	{
		outline: 0;
	}
}

u
{
	text-decoration: underline;
}

p
{
	margin: 0 0 15px 0;

	&:last-child
	{
		margin: 0;
	}
}

section
{
	margin-bottom: 30px;

	&:last-child
	{
		margin-bottom: 0;
	}
}

.navbar
{
    /*background: #0076d2 url(../Images/navbar-background.png) repeat-x 0 0;*/
    background: #fff linear-gradient(to top, #fff, #e9e9e9 5px, #fff 45px);
	border-bottom: 1px solid #999;
    box-shadow: rgba(0, 0, 0, 0.5) 0 3px 10px;
	height: $headerHeight;
}

.navbar-fixed-top
{
    border-color: #004d8d;
}

.navbar-default
{
	background-color: #fff;

	.navbar-nav
	{
        > li
        {
            > a
            {
                /*color: #ddd;*/
                color: $ammGreen;
                padding: 10px 30px;
                transition: color linear 0.25s;
                font-size: 14pt;

                &:hover,
                &:focus
                {
                    color: $blue;
					background-color: transparent;
                }
            }
        }

		> .active
		{
			border-bottom: 5px solid $blue;

			> a
			{
				background-color: transparent;
				padding-bottom: 11px;

				&:hover
				{
					background-color: transparent;
				}

				&:focus
				{
					background-color: transparent;
				}
			}

			&.enrolment
			{
				border-bottom: none;

				a
				{
					/*background-color: $red;
					border-bottom: 5px solid $redDark;*/
					color: #ddd;
				}
			}
		}
	}
}

.navbar-brand
{
	height: auto;
}

.hsp-logo
{
    display: inline-block;
    margin: 22px 0 0 15px;
}

.navbar-toggle
{
	margin-top: 15px;
}

.navbar-nav
{
	margin-top: 20px;

    &.hr 
    {
        margin-top: -30px;
    }

	> li
	{
		padding-top: 35px;
        /*padding-top: $headerHeight - 66px;*/

		&.enrolment
		{
			> a
			{
				color: #ddd;
				background: linear-gradient(to bottom, #004e84, #002f54);
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
                box-shadow: inset 0 6px 4px -4px rgba(0, 0, 0, 0.5);
				font-weight: bold;
				margin: 0 15px;

				&:hover,
                &:focus
				{
					/*background-color: $redLight;*/
					color: #fff;
				}
			}
		}
	}
}

.content
{
    box-shadow: rgba(0, 0, 0, 0.5) 0 3px 10px;
    background-color: rgba(255, 255, 255, 0.6);
    /*background-color: #f7f7f7;*/
    /*margin-bottom: $footerHeight;*/
    padding-top: $headerHeight;
    /*margin-top: $headerHeight;*/
	/*padding-bottom: 45px;*/
    /*padding-bottom: $footerHeight;*/
    min-height: 100%;
    margin-bottom: -$footerHeight;
    padding-bottom: $footerHeight + 45px;

	a
	{
		text-decoration: underline;
	}
}

.banner
{
	/*margin-bottom: 45px;*/
	/*position: relative;*/

	/*img
	{
		height: auto;
		max-height: 400px;
		max-width: 100%;
		margin: 0 auto;
		width: auto;
	}*/

	h1
	{
		color: #fff;
		font-size: 48px;
        line-height: 60px;
		margin: 100px 0 0 0;
		text-shadow: #444 0 0 5px;

		/*position: absolute;
		bottom: 60px;
		left: 15px;*/

		span
		{
			color: #fff;
			display: block;
			font-size: 20px;
            line-height: 40px;
            margin-top: 15px;
            text-align: justify;
            /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
		}
	}
}

ol
{
	li
	{
		margin-bottom: 10px;
	}
}

.left
{
	text-align: left;
}

.center
{
	text-align: center;
}

.right
{
	text-align: right;
}

.btn
{
	color: #eee;
	/*background-color: $blue;*/
	background: $blue linear-gradient(to bottom, #0099ff, $blueLighter 3px, $blue);
	font-weight: bold;
	padding: 15px 45px;
	transition: background-color ease-in 150ms;

	i
	{
		font-size: 35px;
	}

	&.btn-primary
	{

	}

	&:hover,
	&:active,
	&:focus
	{
		/*background-color: $blueLighter;*/
	    background: $blueLighter linear-gradient(to bottom, #002f4c, $blue 3px, $blueLighter);
		border-color: $blue;
		color: #eee;
	}

	&:disabled
	{
		background-color: rgba(0, 0, 0, 0.05);
		border-color: rgba(0, 0, 0, 0.1);
		color: #222;
	}
}

.btn-delete
{
	background-color: transparent;
	border: none;
	color: $greyDark;
	margin: 0;
	padding: 0;
	transition: color ease-in 150ms;

	&:hover,
	&:active,
	&:focus
	{
		background-color: transparent;
		color: $red;
	}
}

.btn-lg
{
	margin-bottom: 15px;
	width: 100%;

	i
	{
		font-size: 14px;
		margin-right: 15px;
	}
}

.btn-download
{
	margin: 30px 0 15px 0;
	text-decoration: none !important;
}

.btn-default
{
    background-image: none;

    &:hover,
    &:active,
    &:focus
    {
        background-image: none;
    }
}

.loader
{
	display: inline-block;
	margin-top: 15px;

	i
	{
		font-size: 24px;
	}
}

/* Small devices (phones, 480px and down) */
@media (max-width: $screen-xs-min)
{
	.banner
	{
		h1
		{
			bottom: 15px;
			font-size: 16px;
			padding-right: 15px;

			span
			{
				font-size: 16px;
			}
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min)
{
	/*html
	{
		background-image: url('../Images/background.jpg');
		background-size: cover;
		background-attachment: fixed;
	}*/
}

/* Small devices (tablets, 768px and down) */
@media (max-width: $screen-md-min)
{
	.wrap
	{
		margin-bottom: -506px;
	}

	.content
	{
		padding-top: $headerHeightSmall;
	}

	.push,
	.footer
	{
		height: 506px;
	}

	.footer
	{
		padding-bottom: 0;
	}

	.navbar
	{
		border-top: none;
		height: $headerHeightSmall;
	}

	.navbar-brand
	{
		height: 80px;
	}

	.navbar-nav
	{
		background-color: #fff;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
		-moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
		box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.5);

		> li
		{
			padding: 0;

			> a
			{
				border-bottom: 1px solid #aaa;
				padding: 15px 30px;
			}

			&.enrolment
			{
				a
				{
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					margin: 0;
					padding: 15px 30px;
				}
			}
		}
	}

	.navbar-default
	{
		.navbar-nav
		{
			> .active
			{
				border-bottom: none;

				a
				{
					border-left: 10px solid $blue;
					padding-left: 20px;
				}

				&.enrolment
				{
					a
					{
						border-bottom: none;
						border-left-color: $redDark;
					}
				}
			}
		}
	}

	.overview-table
	{
		tr 
		{
			td 
			{
				&:first-child
				{
					min-width: 75%;
					width: 75%;
					max-width: 75%;
				}
			}
		}
	}

	.no-transition
	{
		-webkit-transition: height 0.01s;
		-moz-transition: height 0.01s;
		-ms-transition: height 0.01s;
		-o-transition: height 0.01s;
		transition: height 0.01s;
	}
}