// Colours
$blue: #0d4a87;
$ammGreen: #699b45;
$blueLight: #0066a3;
$blueLighter: #0075bd;
$hspGreen: #0f5634;
$hspGreenLight: #136d42;
$hspGreenLighter: #1eae69;
$red: #e74c3c;
$redLight: #ea6557;
$redDark: #d52c1a;
$greyDark: #999;

// Header
$headerHeight: 140px;
$headerHeightSmall: 90px;

// Footer
$footerHeight: 175px;
$footerFontSize: 10px;